/* *{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'courier', monospace;
}

.password-container {
    background-color: pink;
    width:  600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;


}

.password-container h2 {
 
    font-family: 'courier', monospace;
    font-size: 30px;
    color: #333;
    font-weight: 700;
}

.password-box {
    padding: 10px;
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: transparent
}

.password-input {
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 600;

}

.password-input::placeholder {
    color: #767575;
    letter-spacing: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.fa-copy {
    cursor: pointer;
    opacity: 0.3
}

.fa-copy:hover {
    opacity: 1;
}

.fa-copy:active {
    transform: scale(0.9);
}

.generate-pwd-btn {
    margin: 30px 0px;

    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-pwd-btn:hover {
    background-color: #000000b3;
}

.generate-pwd-btn:active {
    transform: scale(0.96);
}


.alert-container{
position: fixed;
width: 300px;
height: 50px;
padding: 15px 20px;
background-color: #4bb543b0;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
right: 50%;
transform: translateX(50%);
 bottom: 200px; 
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Arial', sans-serif;
font-size: 20px;
color: #fff;
transition: 0.5s ease;

}

.active.alert-container{
    right: -700px;
}